{{#partial "principal" }}
<div class="w-100 py-5 my-5 d-flex justify-content-center align-items-center">
    <div class="rounded p-3 bg-body-tertiary">
        <strong class="w-100 mb-1 text-center">La página a la que quiere acceder no existe o no tienes permiso!</strong>
    </div>
</div>
{{/partial}}

{{> head.html.hbs }}
{{> layout.html.hbs }}