{{#partial "principal" }}
<div class="w-100 py-5 my-5 d-flex justify-content-center align-items-center">
    <div class="rounded p-3 bg-body-tertiary">
        <strong class="w-100 mb-1 text-center">Ha ocurrido un error inesperado</strong>
        <div class="w-100 text-center">
            {{error}}
        </div>
    </div>
</div>
{{/partial}}

{{> head.html.hbs }}
{{> layout.html.hbs }}